.starability-result {
  position: relative;
  width: $star-count * $star-size;
  height: $star-size;
  background-image: $img-stars-sprite;
  font-size: 0.1em;
  color: transparent;

  &:after {
    content: ' ';
    position: absolute;
    left: 0;
    height: $star-size;
    background-image: $img-stars-sprite;
    background-position: 0 (-$star-size);
  }

  $star-count-result: $star-count;

  @while $star-count-result > 0 {
    $star-number: $star-count-result;

    // Ganze Sterne
    &[data-rating="#{$star-number}"]::after {
      width: $star-number * $star-size;
    }

    // Halbe Sterne
    $half-star-number: $star-number - 0.5;

    &[data-rating="#{$half-star-number}"]::after {
      width: ($star-number - 1) * $star-size + ($star-size / 2);
    }

    $star-count-result: $star-count-result - 1;
  }

  @media screen and (min-resolution: 192dpi) {
    background-image: $img-stars-sprite-2x;
    background-size: $star-size auto;

    &:after {
      background-image: $img-stars-sprite-2x;
      background-size: $star-size auto;
    }
  }
}